@charset "UTF-8";

/**************************************************************/
/*
	DDマップのファイルドラッグ時におけるドロップ領域に関する設定
*/
/**************************************************************/
#drop	{
		background			: rgba( 182, 16, 78, 0.7 ) no-repeat url('../img/drop_ja.png') 50% 50%;
		position			: absolute;
		top					: 0;
		left				: 0;
		z-index				: 100000;
	}
